#confirm-order {
  display: none;
}

#receipt {
  display: none;
}

#pizza-img {
  float: right;
  margin: 10px;
  width: 50%;
  border-radius: 30px;
}

.pizza-back {
  background-color: rgb(228, 202, 165)
}

body {
  background-image: url("https://thumbs.dreamstime.com/b/hand-drawn-cartoon-pizza-slice-seamless-vector-pattern-background-74814887.jpg");
  background-repeat: repeat;
}

#header-img {
  width: 100%;
  border-radius: 0 0 20px 20px;
}
#title1 {
  position: absolute;
  top: 20px;
  left: 20%;
}
#title2 {
  font-size: 90px;
  position: absolute;
  top: 120px;
  left: 25%;
}

.title-text {
  font-weight: 900;
  font-size: 60px;
  color: white;
  font-style: italic;
  border: black;
  text-shadow: -1px 10px black, 0 1px black, 1px 0 black, 0 -1px black;
}

#footer {
  text-align: center;
  margin: 10px;
  font-style: italic;
}

#receipt {
  margin: 5% 20%;
  font-family: 'Times New Roman', Times, serif
}

#thankyou-img {
  float: right;
  width: 50%;
  border-radius: 50px;
}